* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    max-width: 1600px;

}


nav{
    max-width: 1600px;
    text-align: center;
   .
}
.nav-bar{
    display: flex;
     justify-content: space-around;
     text-align: center;
     align-items: center;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 20px;
}


nav ul li a {
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    color: black;
}
.nav-btn{
    font-size: 16px;
    color: white;
    font-weight:500;
    background-color: green;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
}
/* hero section */
.hero{
    max-width: 1600px;
    background-image: url(../assets/hero-bg.png);
    position: relative;
    text-align: center;
    justify-content: center;
}
.overlay{
    position: absolute;


}
.badge{
    font-size: 16px;
    font-weight: 500;
    color: green;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;

}

.hero-title{
    font-size: 72px;
    font-weight: bold;
    color: white;
    padding-top: 20px;

}
.hero-title-color{
    color: green;
}
.hero-des{
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 35px;

}
.hero-area{
    text-align: center;
    position: relative;
    padding-top: 100px;

}
.hero-btn-left{
    font-size: 16px;
    font-weight:600;
    color: white;
    background-color: green;
    padding: 15px 18px;
    border-radius: 5px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.hero-btn-right{
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    border: 2px solid white;
    padding: 15px 18px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.hero-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 32px;
    padding-bottom: 179px;
    align-items: center;
}
/* structure */
.structure{
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.structure-area{
    margin: 60px 0 44px 0;
}
.structure-title{
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
}
.structure-sub-title{
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 10px;

}
.card-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card{
    width: 252px;
    height: 200px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

}
.card-title{
    font-size: 18px;
    font-weight: 600;
    color: #001931;
    text-align: center;
}
.card-sub-title{
    font-size: 12px;
    font-weight: 400;
    color: #001931;
    text-align: center;

}
.card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    /* background-color: red; */
    display: block;
    margin: 0 auto;
   
}
/* secound brain section */
.second-brain{
    max-width: 1360px;
   margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
   
}
.second-brain-area{
    display: flex;
}
.brain-title{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
.Solution{
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 5px;
}
.brain-sub-title{
    font-size: 14px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    line-height: 30pxpx;

}
.brain-point-parents{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.brain-text{
    /* border: 1px solid black; */
    padding: 100px 0 100px 30px;
}
.brain-point{
    font-size: 14px;
    font-weight: 400;
    color: #001931;
    gap: 20px;
}
/* ready section */
.ready{
    width: 1360px;
    background-color: #F7F6F2;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    /* margin: 120px 0; */
    margin-top: 120px;
    margin-bottom: 120px;

}
.ready-title{
    font-size: 32px;
    font-weight: bold;
    color: #001931;
    margin: 0 auto;
    
}
.ready-sub-title{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin: 16px 0 24px 0;
    line-height: 20px;
}
.ready-btn{
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: green;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;

    
}
.end{
    font-size: 16px;
    font-weight: 400;
    color: gray;
    padding-top: 16px;
}
/* footer section */
.footer{
    max-width: 1600px;
    background-color: black;
    text-align: center;
    padding: 120px 0 30px;

}
.footer-area{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
.foot-title{
    color: white;
    font-size: 16px;

}
.footer-sub-menu{
    font-size: 12px;
    font-weight: 400;
    color: white;

}
.footer-icon{
    display: flex;
    gap: 16px;
}
.foot-link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
